<div style="background-color: #123456; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: white; font-size: 30px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;">Python Data Structures : Niranjana J   22BTRAD027
</h1>
</div>

In [9]:
#write a python program to flatten tuple of list to tuple
a=([2,5,3],[3],[4])
b=()
for i in a:
    b+=tuple(i)
print(b)

(2, 5, 3, 3, 4)

In [10]:
#python program to convert set into tuple and tuple into set
def set_into_tuple(s):
    return(tuple(s))
def tuple_into_set(t):
    return set(t)

s={23,65,23,54,87}
print('intial set=',s)
print('set converted into tuple=',set_into_tuple(s))
t=(34,54,32,665,54)
print('intial tuple=',t)
print('tuple converted into set=',tuple_into_set(t))

intial set= {65, 23, 54, 87}
set converted into tuple= (65, 23, 54, 87)
intial tuple= (34, 54, 32, 665, 54)
tuple converted into set= {32, 665, 34, 54}

In [5]:
#convert list of dictionary to tuple list
def lt_to_tuplelt(lt):
    res=[]
    d={}
    for i in lt:
        for k in i.keys():
            if k in d:
                d[k]+=i[k]
            else:
                d[k]=i[k]
    for k in d.keys():
        res.append(tuple([k] + d[k]))    
    return res
a=[{'Name':['amy','Kia'],'age':[20,21],'grade':['A','A']},{'Name':['Mia','Dune'],'age':[22,21],'grade':['B','B']}]
print('intial list=',a)
print('list of dictionaries converted into tuple=',lt_to_tuplelt(a))

intial list= [{'Name': ['amy', 'Kia'], 'age': [20, 21], 'grade': ['A', 'A']}, {'Name': ['Mia', 'Dune'], 'age': [22, 21], 'grade': ['B', 'B']}]
list of dictionaries converted into tuple= [('Name', 'amy', 'Kia', 'Mia', 'Dune'), ('age', 20, 21, 22, 21), ('grade', 'A', 'A', 'B', 'B')]

In [66]:
#sort tuple list by nth elemenet of tuple
lt=[(3,45,44),(34,67,6),(5,56,87)]
st_lt=[]
sample=[]
sample_ix=[]
n=int(input('enter the nth  element='))
flag=True
while flag:
    flag= False
    for i in range(len(lt)-1):
        for j in range(i+1,len(lt)):
            if lt [i][n] < test_list [j][n]:
                    # swap the elements
                    lt [i], lt [j] = lt[j],lt[i]
                    flag=True
'''a=lt[i][n]
    sample.append(a)
    sample_ix.append(lt.index(a))
    sample.sort()'''
    

print(lt)

enter the nth  element=1
[(3, 45, 44), (34, 67, 6), (5, 56, 87)]

In [85]:
#sort tuple list by nth elemenet of tuple
from operator import itemgetter
 
lt=[(3,45,44),(34,67,6),(5,56,87)]
 
print("The original list is : " + str(lt))
n=int(input('enter nth element='))

lt.sort(key = itemgetter(n))
 
print("List after sorting tuple by Nth index sort : " ,lt)

The original list is : [(3, 45, 44), (34, 67, 6), (5, 56, 87)]
enter nth element=0
List after sorting tuple by Nth index sort :  [(3, 45, 44), (5, 56, 87), (34, 67, 6)]

In [37]:
#program to find tuple indices from other tuple list
a1=[(344, 5), (437, 36), (132, 320), (23, 564)]
a2=[(23, 564), (854, 239), (47, 346), (132, 320)]
l=[]
for i in a2:
    if i in a1:
        idx=a1.index(i)
        l.append(idx)
    else:
        l.append('not present')
print(l)

[3, 'not present', 'not present', 2]

In [13]:
#convert dictionary value list to dictionary list 
lt = [{'usn' : [1, 2, 3]}, {'age' : [30, 22, 34]},{'marks':[32,65,31]}]

print("intial list= " , lt)

res =[{} for i in range(len(lt))]
i = 0
for ele in lt:
    for key, val in ele.items(): 
        for j in val:
            res[i][key] = j
                i += 1
            i = 0

# printing result 
print("New list = " , res)

intial list=  [{'usn': [1, 2, 3]}, {'age': [30, 22, 34]}, {'marks': [32, 65, 31]}]
New list =  [{'usn': 1, 'age': 30, 'marks': 32}, {'usn': 2, 'age': 22, 'marks': 65}, {'usn': 3, 'age': 34, 'marks': 31}]

In [10]:
# Python3 code to demonstrate working of 
# Convert Dictionary Value list to Dictionary List
# Using loop

# initializing list
test_list = [{'Gfg' : [5, 6, 5]}, {'is' : [10, 2, 3]}, {'best' : [4, 3, 1]}] 

# printing original list
print("The original list is : " + str(test_list))

# Convert Dictionary Value list to Dictionary List
# Using loop
res =[{} for idx in range(len(test_list))]
idx = 0
for sub in test_list:
	for key, val in sub.items(): 
		for ele in val:
			res[idx][key] = ele
			idx += 1
		idx = 0
		
# printing result 
print("Records after conversion : " + str(res))

TypeError: can only concatenate str (not "list") to str